body {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 14px;
  background: none;
}
.ext-fname {
  font-size: 14px;
  color: #000;
  margin-top: 5px;
}
.site_title {
  color: #1d1d1d;
  line-height: 1.4;
  margin-bottom: 10px;
}
#ext-dashhead {
  background: #f9fbfd;
}
a.ext-home i {
  background: #6861ce;
  border-radius: 100px;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
}
a.ext-search i {
  background: #e5e8ed;
  border-radius: 100px;
  color: #444;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
}
span.color-circle {
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 3px;
}
.comment-wrap {
  font-size: 12px;
  cursor: pointer;
  background: #fff;
}
.highlight-wrap {
  cursor: pointer;
  margin: 5px 0px;
}
li.list-group-item.node-tree {
  display: inline-block;
  background: none;
  color: #fff;
  border: none;
  border-radius: 0;
}
.siderbar-folder {
  background: #142733;
  height: 100vh;
  position: fixed;
}
li.list-group-item.node-tree:hover {
  background: none;
  color: #fff;
}
div#highlights-comments {
  background: #f9fbfd;
  position: fixed;
  overflow-y: scroll;
  right: 0;
  height: 100vh;
  box-shadow: 2px 0px 5px #000;
}
li.list-group-item.node-tree.active {
  background-color: #6861ce;
}
#tree .list-group-item{ cursor: pointer;  }